@import url('font.css');
html{
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: auto;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font: normal Helvetica;
    /* position: relative; */
    
}
/* navbar */
#wrapper {
	display:inline-block;
	border-radius:500px;
	/* margin:10px; */
	position: relative;
  padding:12px;
	cursor:pointer;
}
.navbar-toggler{
  /* background: green; */
  padding: 0.5rem .75rem;
}

.line {
	position: absolute;
	height: 3px;
	width:2rem;
  left: -0.5rem;
	background:black;
	border-radius:8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.up {
	top:18%;
}
.middle {
	top:48%;
}
.bottom {
	top:78%;
}
.icon.close-1 .up {
	transform:rotate(45deg);
	top:48%;
}
.icon.close-1 .middle, .icon.close-1 .bottom {
	transform:rotate(-45deg);
	top:48%;
}

.wrapper-2 {
	display:inline-block;
	border-radius:500px;
	/* margin:5px; */
	position: relative;
  padding:10px;
	cursor:pointer;
}
.line-2 {
	position: absolute;
	height: 3px;
	width:100%;
	background:black;
	border-radius:8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.up-2 {
	top:18%;
}
.middle-2 {
	top:48%;
}
.bottom-2 {
	top:78%;
}

.icon-2.close-2 .up-2 {
	transform:rotate(45deg);
	top:48%;
}
.icon-2.close-2 .middle-2, .icon-2.close-2 .bottom-2 {
	transform:rotate(-45deg);
	top:48%;
}
#id-3-mobile{
  display: none;
}

.color-red{
  color:#F70000;
  font-size: 1.5rem;
  font:normal Agency FB;
}
button{
  border:none;
  outline: 0 !important;
}
#mainNavbar .navbar-brand img{
width: 80%;
height: 80%;
}

#mainNavbar .nav-link{
  font-size:1.5rem;
  color:black;
  margin:0px 5px;
  font: normal 1.2rem Agency FB;
  padding-bottom: 0;
}
#mainNavbar .nav-link:hover{
color:#F70000;
}

#mainNavbar .nav-link:hover{
  border-bottom: 1px solid #F70000;
}

.navbar{
  background-color: white;
}
.dropdown-menu{
  border:none;
}
.dropdown-item:hover{
  background-color: transparent;
}

/* section-1 */
.top{
  /* margin-top: 15rem; */
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../graphics/WhatsApp\ Image\ 2020-10-27\ at\ 2.29.48\ PM\ \(2\).jpeg');
    height: 45rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top:4.5rem;
}
.top .p0{ 
  font: normal 3rem LemonMilk;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top:4rem;
  letter-spacing: 0.2rem;
  }

.top .p1{ 
font: normal 3rem Edwardian Script ITC;
letter-spacing: 0px;
color: #FFFFFF;
margin:0;
}
.top .p2{ 
  font: normal 1.2rem Helvetica;
  color: #FFFFFF;
  margin:1rem;
}
.welcome{
  padding-top: 2rem;
  margin-left: 5rem;
}

.info{
  margin-top: 2rem;
  margin-left: 5rem;
}
.infocard{
  font: normal Helvetica;
  color: #FFFFFF;
  width: 30rem;
  height: 17rem;
  background:  #EB0404;
  border-radius: 20px;
  opacity: 0.96;
  }
.infocard #content{
  padding: 42px;
  justify-content: center;
}
.enquiry{
  width: 500px;
  height: 67px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #162E40 0%, #173348 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 0.9;
  font: normal 30px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.l1{
  margin-top: 5px;
  font: normal 23px Helvetica;
}
.l2{
  margin-top: 5px;
  font: normal 26px Edwardian Script ITC;
}
.consul{
  margin-top: -100px;
  height: 7rem;
background: #162E40;
}
.consul p{
    margin-top:0;
    font: normal 30px Helvetica;
    color: #FFFFFF;
}
.consul .btn-1{
  height: 62px;
  width: 187px;
  margin-left: 50px;
background: #F70000;
font: normal 20px Helvetica;
border-radius: 10px;
color: #FFFFFF;
}
.consul .btn-2{
  height: 62px;
  width: 187px;
  margin-left: 20px;
    background: #FFFFFF;
    font: normal 20px Helvetica;
border-radius: 10px;

}

/* section-2 */

[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 700px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 37%;
  height: 90%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-100%,0,-100px);
  filter: brightness(70%); 
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-50%,0,-50px);
  filter: brightness(75%); 
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(50%,0,-50px);
  filter: brightness(75%); 
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(100%,0,-100px);
  filter: brightness(70%); 
}
/* section-3 */
.flag-cara{
  background-color: #F5F5F5;
  height: 35rem;

}
.flag-cara .slick-slider{
  padding: 0;
}
.flag-cara .fa-globe-africa{
  color:#F70000;
}
.flag-cara .title{
  display :none
}
.flag-cara img{
  width: 70%;
  height: 35%;
  margin:auto 4rem auto 4rem;
}
.flag-cara button{
  border-radius: 50%;
  color:#fff;
}
.flag-cara .fa-globe-africa{
  font-size: 2rem;
}

#id-4 .slick-arrow.slick-prev {
  left: 0;
}
#id-4 .slick-arrow.slick-next {
  right: 0;
}
#id-4 .slide-arrow{
position: absolute;
top: 50%;
margin-top: 6rem;
/* background-color: blue!important; */
width: 38px;
height: 38px;
border-radius: 50%;
outline: none;
}
#id-4 .prev-arrow{
  right: -6rem;
  top: 4rem;
  color:#FFFFFF;
  background-color: #162E40;
}
#id-4 .next-arrow{
  right: -6rem;
  top: 8rem;
  background-color: #162E40;
}

.flag-cara .flag-div{
  border-left: 1px solid  grey;
  height: 26rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-left: 23px;
  font-size: 1rem;

}
/* section 5 */
#id-5 .contact-banner{
  padding-top: auto 0;
}
.contact-banner{
background-color: #162E40;
color:white;
width: 100%;
height: 6rem;
padding: auto;
font-size: 30px;
margin-left: 0px;
}
.agent-btn{
  height: 3rem;
  width: 10rem;
  margin-left: 50px;
background: linear-gradient(180deg, #F70000 0%, #EB0404 100%) 0% 0% no-repeat padding-box;
font: normal 20px Helvetica;
border-radius: 10px;
color: #FFFFFF;
font-size: 20px;
}
.appli-btn{
  height: 3rem;
  width: 10.5rem;
  margin-left: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal 20px Helvetica;
border-radius: 10px;
font-size: 20px;
}
/* section-6 */
#id-6 h2{
  font:normal Gilroy;
}
.font-agency{
  font: normal 3rem Agency FB;
}
.font-agency-small{
  font: normal 2rem Agency FB;
  color: #F70000;
}
.agent .title{
  font: normal 32px/38px Agency FB;
}
.steps-img{
  width: 100%;
  height:100%;
}
.apply{
  font: normal 20px Helvetica;
  line-height: 1.5;
}

.agent .para{
  background-color: #F5F5F5;
  width: 100%;
  height: 14rem;
}

#id-10 .agent-btn{
  width:14rem;
  font-size: 1.2rem;
}

.agent .agent-img{
width: 75%;
height: 75%;
display: block;
margin-left: auto;
margin-right: auto;
/* border: 1px solid black; */
}
#id-10-mobile{
  display: none;
}
.citizen-yellow-bg{
    /* background: url("../graphics/citizen.png"); */
    height: 17rem;
    margin-top: -22rem;
    margin-bottom: 10rem;
  /* height: 30rem; */
}
.citizen-div{
  background: url("../graphics/citizen.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 100px;
}

.citizen-div img{
  width:  48%;
  margin-top: 3rem;
  border: 10px solid #fff;
  border-radius: 30px 30px;
  height: 68%;
}
.citizen-div p{
  margin-top: 7rem;
  padding-right: 5rem ;
  font: normal 18px Helvetica;
  line-height: 1.5;
}
#id-12 .background-grey{
  background-color: #F5F5F5;
}
#id-12 img{
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  margin-top: 0rem;
}

#id-12 h3{
  margin-top: 0rem;
  margin-bottom: -2rem;
  font: normal 2rem Agency FB;
  color: #F70000;
}
#id-12 p{
  margin-top: 4rem;
  padding-right: 7rem ;
}
.business-div{
  height: auto;
  font: normal 20px Helvetica;
}

#id-6 .color-grey-1{
  background-color: #f5f5f5;
  height: 17rem;
  margin-top: -22rem;
  margin-bottom: 10rem;
}
#id-6 .color-grey-2{
  background-color: #f5f5f5;
  height: 21rem;
  margin-top: -21rem;
  margin-bottom: 10rem;
}
#id-6 .color-grey-3{
  background-color: #f5f5f5;
  margin-bottom: 10rem;
  height: 19rem;
  margin-top: -20rem;
}
#id-6 img{
  /* margin-top: -15rem ; */
  width: 500px;
  height: 470px;
  border: 10px solid #fff;
}
.business-div-1 img{
  width: 500px;
  height: 400px;
  border: 10px solid #fff;
}
.business-heading-1{
  margin-top: 3rem;
  margin-bottom: -5rem;
}
.visa-div{
  margin-top: 10rem ;
  padding-right: 4rem ;

}
.business-heading-2{
  margin-top: 3rem;
  margin-bottom: -6rem;
}
#even p{
  margin-top: 10rem ;
  padding-left: 4rem ;
  padding-right: 0rem ;
}
.business-heading-3{
  margin-bottom: 4rem;
}
.background{
  height: 25rem;
  background-color: #F5F5F5;
}
.agent-btn-small{
  height: 3rem;
  width: 8rem;
  /* margin-left: 50px; */
background: linear-gradient(180deg, #F70000 0%, #EB0404 100%) 0% 0% no-repeat padding-box;
font: normal 20px Helvetica;
border-radius: 10px;
color: #FFFFFF;
font-size: 20px;
}
.appli-btn-small{
  height: 3rem;
  width: 9.5rem;
  margin-left: 20px;
  background: #162E40;
  font: normal 20px Helvetica;
border-radius: 10px;
font-size: 20px;
color: #fff;
}
.center-btn{
  color: #F70000;
  border-bottom: 1px solid #F70000;
  width: 11rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.price-table{
  height: auto;
  background-color: #F5F5F5;
  padding: 0 3rem 2rem 3rem;
}
.price-table label{
  font: normal 1rem Helvetica;
}
.price-table img{
  width:80%;
  height: 80%;
}
.price-table td{
  font: normal 25px Agency FB;
}



.font-agency-small-white{
  font: normal 35px Agency FB;
  color: #fff;
}

.table-border{
  border-bottom: 1px dashed black;
}

#id-8 i{
  color:#F70000;
}

.underline{
  border-bottom: 3px solid #F70000;
  width: 100px;
}

.underline-right{
  margin-left: 20rem;
  border-bottom: 3px solid #F70000;
  width: 100px;
}

.footer .center-form{
  margin:auto 0;
}

.business-div .agent-btn-small{
  margin-left: 0px;
}

.font-agency-small-tb{
  font: Normal 35px Agency FB;
  color: #F70000;
}

.price-table .container-special{
  margin: 0 auto;
}

.price-table .heading td{
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom:1rem ;
}

.procedure{
  margin: auto 5rem;
  font-size: 20px;
}
.procedure .apply{
  font-size: 20px;
  font-weight: thin;
}

.color-#f5f5f5{
  color: #F70000;
  font: normal 25px Agency FB;
}
#id-7-mobile{
  display:none;
}

#id-overlay-2 #heading-1{
  margin: 0 auto;
  background-color: #173348;
  padding: 0.5rem;
  color:white;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
}

#id-overlay-2 form{
  margin: 0 auto;
  background-color: #F70000;
  padding: 2rem 2rem 3rem 2rem;
  color: white;
  border-radius: 15px;
}

#id-overlay-2 input{
    width:100%;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 3px 10px;
}
#id-overlay-2 textarea{
    width:100%;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 3px 10px;
}
.overlay i{
  color: #FFFFFF;
}
#id-overlay-1 #heading-2{
  margin: 0 auto;
  background-color: #F70000;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
  /* width: 50%; */
  text-align: center;
}
#id-overlay-1 form{
  margin: 0 auto;
  background-color: #173348;
  padding: 2rem 2rem 3rem 2rem;
  color: white;
  /* width: 50%; */
  border-radius: 15px;
}
#id-overlay-1 input{
    width:100%;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 3px 10px;
}
#id-overlay-1 textarea{
    width:100%;
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 3px 10px;
}
#overlay-1 .agent-btn-small{
    height: 2rem;
    width: 5rem;
    margin-bottom: 1rem;
    background:#F70000;
    font: normal 20px Helvetica;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
}
#overlay-2 .appli-btn-small{
  height: 2rem;
  width: 5rem;
  margin-bottom: 1rem;
  background: #162E40;
  font: normal 20px Helvetica;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
}

#overlay-1
{
    width: 33%;
    margin: 1rem;
    color: black;
    position: absolute;
    top: 40%;
    left: 47%;
    z-index:2000;
    display:none;
    border-radius:10px;
}
#overlay-2
{ 
    width: 33%;
    height: 1rem;
    margin: 15rem 5rem;
    color: black;
    padding: 10px;
    position: absolute;
    top: -5%;
    left: 47%;
    z-index:2000;
    display:none;
    border-radius:10px;
}

#mask-1{ 
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:1050;
    width:100%;
    height:100%;
    display:none;
}
#mask-2{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.7);
  z-index:1050;
  width:100%;
  height:100%;
  display:none;
}
#overlay-1:target, #overlay-1:target + #mask-1{
    display:block;
    opacity:1;
}
#overlay-2:target, #overlay-2:target + #mask-2{
  display:block;
  opacity:1;
}
.close{ 
    float: right;
    display:block;
    background:white;
    opacity: 1;
    height:30px;
    width:30px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}
#open-overlay-1{
    padding:10px 5px;
    text-decoration:none;
    display:inline-block;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}
#open-overlay-2{ /* open the overlay */
  padding:10px 5px;
  text-decoration:none;
  display:inline-block;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
}
.agent-btn a, .agent-btn-small a, .appli-btn-small a{
color:white;
}
.appli-btn a{
  color:black;
}
/* section-footer */

.footer{
  background-color: #162E40;
  color: #fff;
}

.footer .footer-div{
  border-bottom: 1px solid white;
  width: 90%;
  /* margin-left: 2rem; */
  font: normal 15px Helvetica;
}
.footer .socials .imgs{
  justify-content: space-between;
  width: 90%;
}
.footer .socials img{
  margin:0 0.7rem;
  width: 3rem;
  height: 3rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F70000;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 35px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#id-5-mobile-show{
  display: none!important;
}


@media only screen and (max-width: 900px) and (min-width: 300px){
  body{
    overflow-x: hidden;
    width: 100%;
  }
  .top{
    margin-top:3rem;
  }
  .font-agency{
    font: normal 2.5rem Agency FB;
  }
  .navbar-brand img{
    /* margin-right: 1.5rem; */
    padding-right: 3rem;
  }
  .navbar-collapse
    {
         width: 100%;
    }
    #id-6 h2{
      font: normal 1.5rem Gilroy;
    }
    .lead{
      font-size:1.1rem;
    }
  .infocard #content{
    padding: 20px 20px 20px 20px!important;
    justify-content: center;
  }
  #id-6 .color-grey-1{
    background-color: #f5f5f5;
    /* width: 100px; */
    height: 47rem;
    margin-top: -46.5rem;
    margin-bottom: 5rem;
  }
  #id-6 .color-grey-2{
    height: 53rem;
    margin-top: -51rem;
    margin-bottom: 5rem;
  }
  #id-6 .color-grey-3{
    background-color: #f5f5f5;
    /* width: 100px; */
    height: 55rem;
    margin-top: -54rem;
    margin-bottom: 5rem;
  }
  #id-4 .flag-cara button{
    display: none!important;
}
#even p{
  margin-top: 3rem;
  padding-left: 1rem ;
  padding-right: 1rem;
}
  .procedure .apply{
    font-size: 17px;
  }
  .procedure{
    margin: auto 1.5rem;
  }
  .apply{
    font: normal 17px Helvetica;
  }
  .top{
      height: 46rem;
      width:100%;
  }
  .top .p0{ 
    font: normal 2.5rem LemonMilk;
    letter-spacing: 1px;
    }
  
  .top .p1{ 
  font: normal 3rem Edwardian Script ITC;
  }
  .top .p2{ 
    font: normal 1rem Helvetica;
    margin:0.5rem 0.5rem 0.5rem 0;
  }
  .l1{
    margin-top: 5px;
    font: normal 1rem Helvetica;
  }
  .l2{
    margin-top: 5px;
    font: normal 1.2rem Edwardian Script ITC;
  }
  .welcome{
    padding-top: 2rem;
    margin-left: 3rem;
  }
  
  .info{
    margin-top: 5rem;
    margin-left: 0px!important;
  }
  .infocard{
    width: 18rem;
    height: 16.5rem;
    border-radius: 20px;
    margin-left: 3rem;
    }
  .infocard #content{
    font-size: 0.9rem;
    padding:25px;
  }
  .consul{
    margin-top: -23px;
    height: 11rem;
    /* align-items: center; */
}
  
.consul p{
  margin-top:auto;
  font: normal 25px Helvetica;
}
#id-3 {
  height: 45vh;
}
#slider{
  display: none;
}

#id-3-mobile{
  display: block;
  margin: 3rem 1rem;
  height: 10rem;
}

#id-3{
  height: 30rem;
}
.agent-btn{
  height: 3rem;
  width: 8rem;
    margin-left: 1rem;
    font: normal 0.7rem Helvetica;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
}
.appli-btn{
  height: 3rem;
  width: 10rem;
  margin-left: 20px;
  background: #FFFFFF;
  font: normal 0.7rem Helvetica;
  border-radius: 10px;
  font-size: 20px;
}
.id-2-btn{
  display: flex;
  justify-content: center;
}
#id-9 p
{
  margin-bottom: 0px;
  font-size: 1.7rem;
}
#id-5 .pt-4{
  padding-top: 2rem!important;
}


/* .flag-cara{
  background-color: #F5F5F5;
} */
.flag-cara .title{
  display: block;
  text-align: center;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
}
.flag-cara .slick-slider{
  padding: 0;
}
.flag-cara img{
  padding: 0px!important;
  margin: 0;
}

.flag-cara .fa-globe-africa{
  font-size: 1.5rem;
}
.flag-cara .flag-div{
  border: none;
  /* height: 30rem; */
  margin-top: 3rem;
  margin-left: 10px!important;
  padding-right: 10px;
  padding-left: 0px!important;
}
.contact-banner{
    margin-top:auto;
    font: normal 20px Helvetica;
    height:8rem;
}
.citizen-div{
  background:none;
  height: 45rem;
  margin-bottom: 100px;
}
.citizen-yellow-bg{
  background: url("../graphics/citizen.png");
  height: 63rem;
  margin-top: -57rem;
  margin-bottom: -1rem;
/* height: 30rem; */
}
.citizen-div img{
  width:  55%;
  border: 10px solid #fff;
  height: 85%; 
}

  .citizen-div p {
      margin-top: 0.5rem;
      padding: 0 1.5rem!important;
}
.color-red{
  color:#F70000;
  font-size: 1.2rem;
}
#id-5-mobile-show{
  display: block!important;
}
#id-5-mobile-show p{
  font-size:1.7rem ;
  padding-top: 1rem;
}
#id-5-mobile-hide{
  display: none;
}
.flag-cara img{
  display: none;
}
.underline{
  margin-left: 10rem;
}
.underline-right{
  /* display: none; */
  margin-left: 10rem;
}

#id-12 h3{
  margin:1rem 0;
}
#id-12 p{
  margin-top: 1rem;
  padding-right: 0rem ;
}
#id-12 .center-btn{
  margin:1.5rem auto;
}

.footer .socials img{
  width: 13%;
  height:13%;
  margin:0;
}
.center-btn{
  color: #F70000;
  border-bottom: 1px solid #F70000;
  width: 11rem;
  margin-top: 2rem;
  margin-left: 7rem;
  margin-bottom: 0rem;
}

.price-table{
  overflow-x:auto;
}
.price-table{
  height: 60rem;
  background-color: #F5F5F5;
  padding: 3rem 0;
}
.price-table img{
  width:8rem;
  height:5.5rem;
}
.business-heading-1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.visa-div {
  margin-top: 2rem;
  padding: 1.5rem;
}


.business-heading-2 {
  margin-bottom: 3rem;
}
.price-table .heading td{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
}
td {
  padding: 3rem;
}
.price-table td{
  font: normal 25px Agency FB;
}
.footer .center-form{
  /* margin-left: 2rem;
  margin-right: 8rem; */
  margin-top: 5rem;  
}
.footer{
  font-size: 15px;
}

#id-7 .steps-img{
  display: none;
}
#id-7-mobile{
  display:block;
}

#id-7-mobile .color-it{
  background: rgb(221,220,220);
background: linear-gradient(90deg, rgba(221,220,220,1) 0%, rgba(212,212,211,1) 0%, rgba(251,244,151,1) 100%);
height: 25rem;
margin-top: -11rem;
}
#id-7-mobile .color-blue{
  height:10rem; 
  margin: 3rem 4rem 0 4rem;
}
#id-7-mobile img{
width: 12.5rem;
height: 12.5rem;
margin: 1rem 5rem 0 5rem;
outline: none;
text-align: center;
}
 .card-text{
padding: 0.7rem;
    text-align: center;
    border-radius: 15px;
    height: 12.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
    width: 12.5rem;
    margin: 0 auto;
}
#id-7-mobile .card{
  border: none;
  margin: 0 0 0 2rem;
  width: 12rem;
  background: transparent;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: 6rem;
  background-color: #F70000;
  color:#FFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}
.prev-arrow{
  left: -52px;
}
.next-arrow{
  right: -52px;
}

#id-10 .agent-img{
  display: none;
}
#id-10-mobile{
  display:block;
}

#id-10-mobile {
  height:25rem; 
  margin: 1rem 2rem 0 2rem;
}
#id-10-mobile  img{
width: 15rem;
height: 15rem;
/* margin: 1rem 1rem 0 1rem; */
outline: none;
}


.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: 6rem;
  background-color: #F70000;
  color:#FFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}
.prev-arrow{
  left: -52px;
}
.next-arrow{
  right: -52px;
}
  #id-overlay-2 #heading-1{
    margin: 0 auto;
    background-color: #173348;
    padding: 1rem;
    color:white;
    border-radius: 15px;
    text-align: center;
  }
  #id-overlay-2 form{
    margin: 0 auto;
    background-color: #F70000;
    padding: 2rem 2rem 3rem 2rem;
    color: white;
    border-radius: 15px;
  }
  .overlay i{
    color: #FFFFFF;
  }
  #id-overlay-1 #heading-2{
    margin: 0 auto;
    background-color: #F70000;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
  }
  #id-overlay-1 form{
    margin: 0 auto;
    background-color: #173348;
    padding: 2rem 2rem 3rem 2rem;
    color: white;
    border-radius: 15px;
  }
  #overlay-1 .agent-btn-small{
    height: 2.3rem;
    width: 5rem;
    background:#F70000;
    font: normal Helvetica;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
  }
  #overlay-2 .appli-btn-small{
    height: 2.3rem;
    width: 5rem;
    margin-left: 20px;
    background: #162E40;
    font: normal Helvetica;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
  }

  #overlay-1
  {
    width: 86%;
    margin: 15rem 0;
      color:black;
      padding:10px;
      position:absolute;
      top:5%;
      left:10%;
      z-index:1000;
      display:none;
      /* CSS 3 */
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -o-border-radius:10px;
      border-radius:10px;
  }
  #overlay-2
  { 
      height:70%;
      width: 86%;
      margin: 15rem 0;
      color:black;
      padding:10px;
      position:absolute;
      top:5%;
      left:10%;
      z-index:1000;
      display:none;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -o-border-radius:10px;
      border-radius:10px;
  }

  #mask-1{ 
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:500;
      width:100%;
      height:100%;
      display:none;
  }
  #mask-2{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
  }

  #open-overlay-1{ 
      padding:10px 5px;
      text-decoration:none;
      display:inline-block;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -o-border-radius:10px;
      border-radius:10px;
  }
  #open-overlay-2{ /* open the overlay */
    padding:10px 5px;
    text-decoration:none;
    display:inline-block;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
  }
  #id-14 .header{
    font-size: 2rem;
  }

}

